.search-pokedex {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
