.ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
}

.pokemon-detail {
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #202020;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #272727;
  width: 80%;
  height: 85%;
  max-width: 600px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pokemon-detail img {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 36, 36, 0.5);
}

@media (max-width: 768px) {
  .pokemon-detail h1 {
    font-size: 2rem;
  }
  .pokemon-stats {
    margin-top: -20px;
    margin-bottom: 10px;
  }
  .pokemon-detail img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}

.pokemon-stats ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.pokemon-stats ul {
  padding-left: 0;
  list-style: none;
}

.pokemon-stats ul li .stat-text {
  flex-shrink: 0;
  margin-right: 10px;
  font-weight: bold;
}

.pokemon-stats ul li .stat-bar {
  height: 10px;
  border-radius: 5px;
}

.pokemon-stats ul li .hp-bar {
  background-color: #ff5959;
}

.pokemon-stats ul li .attack-bar {
  background-color: #f08030;
}

.pokemon-stats ul li .defense-bar {
  background-color: #f8d030;
}

.pokemon-stats ul li .special-attack-bar {
  background-color: #6890f0;
}

.pokemon-stats ul li .special-defense-bar {
  background-color: #78c850;
}

.pokemon-stats ul li .speed-bar {
  background-color: #f85888;
}

.pokemon-stats ul li .stat-value {
  margin-left: 10px;
  font-weight: bold;
}

.ReactModal__Body--open {
  overflow: hidden;
}
